.container {
  width: 250px;
  background-color: #fff;
}

.header {
  position: relative;
  height: 24px;
  margin: 4px 0 0 4px;
}

.title {
  margin-left: 8px;
  font-size: 16px;
}

.settings-button {
  position: absolute;
  top: 0px;
  right: 0px;

  padding: 4px;
  border: none;
  margin-right: 4px;

  background-color: #fff;
  font-size: 14px;
}

.fa-gear {
  color: #7A8490;
}

.fa-x {
  width: 14px;
  height: 12px;
  color: #7A8490;
}

.page-title-input {
  width: 216px;
  height: 54px;
  padding: 4px 8px;
  border: 1px solid #EBEDF0;
  margin: 8px;
  border-radius: 2px;
  font-family: inherit;
  resize: none;
}

.footer {
  margin: -8px 8px 8px 8px;
  display: flex;
}

.download-location {
  width: 176px;
  height: 16px;
  padding: 0 8px 8px 4px;
  margin-bottom: 8px;
  border-radius: 2px;
  font-size: 12px;
}

.download-location-option {
  padding: 0;
}

.submit-button {
  vertical-align: top;
  width: 50px;
  height: 32px;
  padding: 8px;
  border: none;
  border-radius: 2px;

  color: #fff;
  background-color: #2e80f2;
  font-size: 12px;
}

/* Settings */
.settings-container {
  padding: 0 8px 8px 0
}

.setting {
  margin: 4px 0 0 4px;
  position: relative;
}

.setting-name {
  margin-left: 8px;
  color: #7A8490;
  font-size: 12px;
}

input.setting-value {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  border: 1px solid #EBEDF0;
  border-radius: 2px;
  font-size: 12px;
  font-family: inherit;
}

.settings-footer {
  position: relative;
  height: 32px;
}
.save-settings {
  position: absolute;
  right: 8px;
  border: none;
  padding: 4px;
  border-radius: 2px;

  color: #fff;
  background-color: #2E80F2;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #1D2126;
  }
  
  .settings-button {
    background-color: #1D2126;
  }
  
  .fa-gear {
    color: #8793A2;
  }
  
  .fa-x {
    color: #8793A2;
  }
  
  .page-title-input {
    color: #CED3D8;
    background-color: #22262B;
    border: 1px solid #262B31;
  }
  
  .submit-button {
    color: #CED3D8;
    background-color: #396ED8;
  }
  
  .setting-name {
    color: #8793A2;
  }
  
  input.setting-value {
    color: #CED3D8;
    background-color: #22262B;
    border: 1px solid #262B31;
  }
  
  .save-settings {
    color: #CED3D8;
    background-color: #396ED8;
  }
}